// ヘッダー
.nav-item {
  .nav-link {
    color: #fff !important;
  }
}
.nav-item.active {
  font-weight: bold;
}

// body
body {
  margin-top: 70px;
}

.list-group-item.active {
  color: #fff;
  background-color: #28a745;
}

.list-group-item {
  color: #28a745;
  &:hover {
    color: darkgreen;
  }
}
