.first-item-box {
  .counts-box {
    display: flex;
    .stocks-count {

    }
    .likes-count {

    }
  }
  h5 {
    a {
      color: black;
      font-weight: bold;
    }
  }
  blockquote {
    color: #666666;
    font-size: 15px;
  }
}

.item-box {
  .counts-box {
    display: flex;
    .stocks-count {

    }
    .likes-count {

    }
  }
  h6 {
    a {
      color: black;
      font-weight: bold;
    }
  }
  blockquote {
    color: #666666;
    font-size: 14px;
  }
}